<% layout("/layouts/boilerplate.ejs") -%>

    <body>
        <br>
        <h3 style="text-align: center;">File details to Create the listing</h3>
        <div class="row">
            <div class="col-8 offset-2">
                <form action="/listings" method="post" novalidate class="needs-validation" enctype="multipart/form-data">
                    <div>
                        <label for="title" class="form-lable" >Title :</label>
                        <input required type="text" name="listing[title]" placeholder="title" class="form-control"
                            id="title">
                            <div class="valid-feedback">Title Looks good!</div>
                            <div class="invalid-feedback">Fill Title </div>
                            <br>
                        </div>
                        <div>
                            <label for="description" class="form-lable">Description :</label>
                            <textarea name="listing[description]" placeholder="Enter description" class="form-control"
                            id="description" required></textarea>
                            <div class="valid-feedback">Description Looks good!</div>
                            <div class="invalid-feedback">Fill Description</div> 
                            <br>
                    </div>
                    <div>
                        <label for="image" class="form-lable">Upload Image :</label>
                        <input type="file" name="listing[image]" placeholder="ENter Image URL" class="form-control"
                            id="image" accept="image" required><br>
                    </div>
                    <div class="row">
                        <div class="col-sm-4">
                            <label for="price" class="form-lable">Price :</label>
                            <input type="number" name="listing[price]" placeholder="price" class="form-control"
                                id="price" required>
                                <div class="valid-feedback">Price Looks good!</div>
                            <div class="invalid-feedback">Fill Price</div> <br>
                        </div>
                        <div class="col-sm-8">
                            <label for="location" class="form-lable">Location :</label>
                            <input type="text" name="listing[location]" placeholder="location" class="form-control"
                                id="location" required>
                                <div class="valid-feedback">Location Looks good!</div>
                            <div class="invalid-feedback">Fill Location</div> <br>
                        </div>
                    </div>
                    <div>
                        <label for="country" class="form-lable">Country :</label>
                        <input type="text" name="listing[country]" placeholder="country" class="form-control"
                            id="country" required>
                            <div class="valid-feedback">Country Looks good!</div>
                            <div class="invalid-feedback">Fill Country</div> <br>
                    </div>Select Tags:<br>
                    <div role="group" aria-label="Basic checkbox toggle button group">
                        <input type="checkbox" class="btn-check" id="btncheck1" autocomplete="off" name="listing[tags][]" value="Trending">
                        <label class="btn btn-sm btn-outline-danger" for="btncheck1">Trending</label>
                        
                        <input type="checkbox" class="btn-check" id="btncheck2" autocomplete="off" name="listing[tags][]" value="Rooms">
                        <label class="btn btn-sm btn-outline-danger" for="btncheck2">Rooms</label>

                        <input type="checkbox" class="btn-check" id="btncheck3" autocomplete="off" name="listing[tags][]" value="Iconic Cities">
                        <label class="btn btn-sm btn-outline-danger" for="btncheck3">Iconic Cities</label>

                        <input type="checkbox" class="btn-check" id="btncheck4" autocomplete="off" name="listing[tags][]" value="Mountains">
                        <label class="btn btn-sm btn-outline-danger" for="btncheck4">Mountains</label>

                        <input type="checkbox" class="btn-check" id="btncheck5" autocomplete="off" name="listing[tags][]" value="Castles">
                        <label class="btn btn-sm btn-outline-danger" for="btncheck5">Castles</label>

                        <input type="checkbox" class="btn-check" id="btncheck6" autocomplete="off" name="listing[tags][]" value="Amazing Pools">
                        <label class="btn btn-sm btn-outline-danger" for="btncheck6">Amazing Pools</label>

                        <input type="checkbox" class="btn-check" id="btncheck7" autocomplete="off" name="listing[tags][]" value="Camping">
                        <label class="btn btn-sm btn-outline-danger" for="btncheck7">Camping</label>

                        <input type="checkbox" class="btn-check" id="btncheck8" autocomplete="off" name="listing[tags][]" value="farms">
                        <label class="btn btn-sm btn-outline-danger" for="btncheck8">farms</label>

                        <input type="checkbox" class="btn-check" id="btncheck9" autocomplete="off" name="listing[tags][]" value="Arctic">
                        <label class="btn btn-sm btn-outline-danger" for="btncheck9">Arctic</label>

                        <input type="checkbox" class="btn-check" id="btncheck10" autocomplete="off" name="listing[tags][]" value="Domes">
                        <label class="btn btn-sm btn-outline-danger" for="btncheck10">Domes</label>

                        <input type="checkbox" class="btn-check" id="btncheck11" autocomplete="off" name="listing[tags][]" value="Boats">
                        <label class="btn btn-sm btn-outline-danger" for="btncheck11">Boats</label>

                        
                    </div>
                     <br> <br>
                    <button class="btn btn-dark btn-new">Add</button>
                    <br><br>
                </form>
            </div>
        </div>

    </body>